![title](img/unc-charlotte-logo.gif)

### <font color = 'green'> Please mention Team Members 
    1. Herleen Sanhotra
    2. Sidharth Panda

#### Instructions:
*Answer questions in comments that are listed starting with (A)
numbered questions have the answer provided in Python code
Place your Answer to (A) etc. within a comment*

<font color = 'green'> (A) </font> *What kind of files can Python work with?*

<font color = 'green'> <b>Answer: Python can work with files like sql db, txt file, csv file, excel, etc.</b> </font>

*<u>Import churn.txt dataset in this jupyter file</u>*

In [1]:
#Write code here
import pandas as pd
import numpy as np
churn = pd.read_csv("/Users/hsanhotra/Desktop/KDD/Data preprocessing HW notebook(sept6)/churn.txt")

In [2]:
import pandas as pd
import numpy as np

churn = pd.read_csv("/Users/hsanhotra/Desktop/KDD/Data preprocessing HW notebook(sept6)/churn.txt")

<font color = 'green'> (B) </font> *What is apply function for, what are its parameters?*

<font color = 'green'> <b>Answer : The apply() function applies a function to each element in a selected column/row or in a pandas series. The apply() function takes parameters like function(), axis which takes value 0 or 1 depending on whether we are selcting column(axis=0) or row(axis=1) and args() i.e arguments that need to be passed. </b> </font>

<font color = 'green'> (C) </font> *Which columns are numeric coulmns?*

<font color = 'green'> <b>Answer : Using churn._get_numeric_data() function we can find out the list of numeric columns. The numeric column list is displayed in below code.
</b> </font>

<font color = 'green'> (D) </font> *Does dataset contain categorical variables?*

<font color = 'green'> <b>Answer: Yes, from the below data we can conclude that object type columns can be classified as categorical variables. State can be categorical variable since we can group the data as per different States. <p>Int'l Plan and VMail Plan can also be considered categorical since we can group the data into Yes and No.<p>Likewise, Churn? can also be considered since it has values False and True and those can be used to categorize the data. <p> Phone can be considered categorical if we take the area code from the phone number, it can be used to categorize the data accordingly.</b> </font>

<font color = 'blue'> **Code**</font> *Please write code for structure and description of Churn dataset?*

In [3]:
#Write code here

#Code to get structure and description of churn dataset 
churn.info()

#We are using head() function to get a quick glance on few rows of the dataset and identify the categorical variables.
print(churn.head())

#Finding list of numeric columns
churn._get_numeric_data().head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
State             3333 non-null object
Account Length    3333 non-null int64
Area Code         3333 non-null int64
Phone             3333 non-null object
Int'l Plan        3333 non-null object
VMail Plan        3333 non-null object
VMail Message     3333 non-null int64
Day Mins          3333 non-null float64
Day Calls         3333 non-null int64
Day Charge        3333 non-null float64
Eve Mins          3333 non-null float64
Eve Calls         3333 non-null int64
Eve Charge        3333 non-null float64
Night Mins        3333 non-null float64
Night Calls       3333 non-null int64
Night Charge      3333 non-null float64
Intl Mins         3333 non-null float64
Intl Calls        3333 non-null int64
Intl Charge       3333 non-null float64
CustServ Calls    3333 non-null int64
Churn?            3333 non-null object
dtypes: float64(8), int64(8), object(5)
memory usage: 546.9+ KB
  State  Account Length  Area Code     Phone Int'l Plan VMail Plan  \
0    KS             128        415  382-4657         no        yes
1    OH             107        415  371-7191         no        yes
2    NJ             137        415  358-1921         no         no
3    OH              84        408  375-9999        yes         no
4    OK              75        415  330-6626        yes         no

   VMail Message  Day Mins  Day Calls  Day Charge  ...  Eve Calls  Eve Charge  \
0             25     265.1        110       45.07  ...         99       16.78
1             26     161.6        123       27.47  ...        103       16.62
2              0     243.4        114       41.38  ...        110       10.30
3              0     299.4         71       50.90  ...         88        5.26
4              0     166.7        113       28.34  ...        122       12.61

   Night Mins  Night Calls  Night Charge  Intl Mins  Intl Calls  Intl Charge  \
0       244.7           91         11.01       10.0           3         2.70
1       254.4          103         11.45       13.7           3         3.70
2       162.6          104          7.32       12.2           5         3.29
3       196.9           89          8.86        6.6           7         1.78
4       186.9          121          8.41       10.1           3         2.73

   CustServ Calls  Churn?
0               1  False.
1               1  False.
2               0  False.
3               2  False.
4               3  False.

[5 rows x 21 columns]

,Account Length,Area Code,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,128,415,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,107,415,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,137,415,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,84,408,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,75,415,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

<font color = 'green'> (E) </font> *Are there any missing values in dataset?*

<font color = 'green'> <b>Answer : No. </b> </font>

<font color = 'green'> (F) </font> *Determine which variables has missing value?*

<font color = 'green'> <b>Answer: There are no variables with missing values.</b> </font>


<font color = 'green'> (G) </font> *What are the different ways you have learned to fix missing data issue?*

<font color = 'green'> <b>Answer: There are 4 ways to replace missing value: 1) Replace with a constant, 2)Replace with mean or median, 3)Replace with a mode, 4) Replace by randomly choosing a value</b> </font>

<font color = 'green'> (H) </font> *Which of these methods do you prefer for missing value and why?*

<font color = 'green'> <b>Answer : I would prefer using random value since it will remove bias from the dataset. Using random value will help in replacing missing value for non numerical columns which can't be done using mean/median method. Also mean/median method would not work for columns like Area Code where the mean/median value can be a decimal. </b> </font>


<font color = 'blue'> **Code**</font> *Please write code for the method you selected as best way to fix missing value?*

In [4]:
#Write code here

#To determine how many missing values are there in each column. 
#In this datset, there are no missing values as displayed in the output.

print(churn.isna().sum())

#Since there are no missing values, we don't need to replace anything. 
#The below code is syntax for Replacing missing value with randomly selected value on Area Code column. 

# def replace_with_random(x):        
#     try:        
#         if pd.isnull(x):            
#             rand_num = random.choice(churn["Area Code"][churn["Area Code"].notna()])                        
#             return rand_num            
#         else:            
#             return x        
#     except Exception as e:
#          print("Exception", x)
#          return x
    
# churn["Area Code"] = churn["Area Code"].apply(replace_with_random)
# print("\nAfter replacing missing values with random choice\n")
# churn.head()

State             0
Account Length    0
Area Code         0
Phone             0
Int'l Plan        0
VMail Plan        0
VMail Message     0
Day Mins          0
Day Calls         0
Day Charge        0
Eve Mins          0
Eve Calls         0
Eve Charge        0
Night Mins        0
Night Calls       0
Night Charge      0
Intl Mins         0
Intl Calls        0
Intl Charge       0
CustServ Calls    0
Churn?            0
dtype: int64

<u> Tables are great way to find relation among variables </u>: **Compare 'Area Code' and 'State' variables in churn dataset**

<font color = 'green'> (G) </font> *Determine which variables has missing value?*

<font color = 'green'> <b>Answer: There are no missing values in either of the two variables.</b> </font>

In [5]:
#To find missing values. There are no missing values in the dataset.
churn.isna().sum()

#Since there are no missing values, we don't need to replace anything. 
#The below code is syntax for Replacing missing value with randomly selected value on Area Code column. 

# def replace_with_random(x):        
#     try:        
#         if pd.isnull(x):            
#             rand_num = random.choice(churn["Area Code"][churn["Area Code"].notna()])                        
#             return rand_num            
#         else:            
#             return x        
#     except Exception as e:
#          print("Exception", x)
#          return x
    
# churn["Area Code"] = churn["Area Code"].apply(replace_with_random)
# print("\nAfter replacing missing values with random choice\n")
# churn.head()


#Here we have displayed the relation between State and Area code by making a table with crosstab() function.
#Below we can see the types and count of the Area Codes in each State. 

from pandas import crosstab
a = churn.State
#print(a)
b = churn["Area Code"]
#print(b)

crosstab(a,[b], rownames=['State'], colnames =['Area Code'])

Area Code  408  415  510
State
AK          14   24   14
AL          25   40   15
AR          13   27   15
AZ          15   36   13
CA           7   17   10
CO          25   29   12
CT          22   39   13
DC          14   27   13
DE          13   31   17
FL          12   31   20
GA          15   21   18
HI          15   30    8
IA           8   20   16
ID          12   41   20
IL          15   28   15
IN          18   33   20
KS          12   37   21
KY          15   32   12
LA          13   27   11
MA          24   29   12
MD          16   39   15
ME          15   25   22
MI          12   39   22
MN          20   40   24
MO          15   37   11
MS          15   31   19
MT          17   34   17
NC          25   28   15
ND          19   28   15
NE          13   34   14
NH          25   19   12
NJ          15   34   19
NM          16   35   11
NV          14   34   18
NY          19   47   17
OH          22   40   16
OK          17   27   17
OR          14   44   20
PA          14   19   12
RI          12   35   18
SC          13   30   17
SD          16   28   16
TN          11   30   12
TX          20   37   15
UT          12   37   23
VA          25   35   17
VT          17   36   20
WA          23   26   17
WI          22   35   21
WV          20   52   34
WY          17   41   19